<!-- =========================================
     SIDEBAR COMPONENT
     Globální navigace aplikace
     ========================================= -->

<aside class="sidebar">

    <div class="sidebar-logo">
        <h2>SportTracker</h2>
    </div>

    <nav class="sidebar-nav">

        <a href="../pages/dashboard.html"
           class="nav-item">

            Dashboard

        </a>

        <a href="../pages/trainings.html"
           class="nav-item">

            Tréninky

        </a>

        <a href="../pages/players.html"
           class="nav-item">

            Hráči

        </a>

        <a href="../pages/profil.html?id=1"
           class="nav-item">

            Můj profil

        </a>

        <a href="../pages/statistiky.html"
           class="nav-item">

            Statistiky

        </a>

        <a href="#"
           onclick="notImplemented()"
           class="nav-item">

            Finance

        </a>

        <a href="#"
           onclick="notImplemented()"
           class="nav-item">

            Haly

        </a>

    </nav>

</aside>